@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur TodoSaaS - La démo </h1>
    <br />
    <a href="tenant-list">Liste des tenants</a>
    | <a href="tenant-new">Nouveau tenant</a> 
    | <a href="tenant-status">Statut d'un tenant</a>
    | <a href="tenant-delete">Suppression d'un tenant</a>

    <hr/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
